entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

api:
  insecure: false

providers:
  docker:
    exposedByDefault: false
  file:
    filename: "/etc/traefik/dynamic.yml"
    watch: true

certificatesResolvers:
  myresolver:
    acme:
      email: "admin@quantumaipartners.com"
      storage: "/letsencrypt/acme.json"
      httpChallenge:
        entryPoint: "web"
